@import "variables";

.button {
  background: $blue;
  border-radius: 8px;
  padding: 8px 16px;
  width: fit-content;
  cursor: pointer;
  border: 1px solid $blue;
  transition: all 0.3s;
  color: $white;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  &Transparent {
    background: none;
    color: $blue;
    border: none;
  }
}
