.list {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.item {
  flex-shrink: 0;
  height: 300px;
  width: 300px;
  scroll-snap-align: start;
  text-align: center;
  border: 1px solid teal;
}