@import "variables";

.categories {
  margin-bottom: 4px;
  display: flex;
  gap: 48px;
  background-color: $grey;
  border-radius: 16px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 8px 32px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.category {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  scroll-snap-align: center;

  &Img {
    position: relative;
    background: $white;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 8px;
    overflow: hidden;
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 25%);
    transition: all 0.2s ease-in-out;

    > img {
      object-fit: contain;
      padding: 8px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
