@import "./variables";

.item {
  position: relative;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 32px 64px rgb(17 17 17 / 8%);

  &:hover {
    box-shadow: 0 32px 64px rgb(17 17 17 / 12%);
  }

  &Price {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    margin: 8px 16px;

    @media (max-width: 1024px) {
      margin: 4px 12px;
    }
  }

  &Title {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &Btn {
    position: absolute;
    z-index: 1;
    padding: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;

    &Edit {
      top: 4px;
      right: 4px;
    }

    &Delete {
      left: 4px;
      top: 4px;
    }

    &Promote {
      right: 4px;
      bottom: 4px;
    }
  }

  &Image {
    position: relative;
    aspect-ratio: 1/1;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &Favourite {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    cursor: pointer;
  }
}
