@import "./variables";

.item {
  position: relative;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.08);

  &:hover {
    box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.12);
  }

  &Price {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    margin: 8px 16px;
    @media (max-width: 1024px) {
      margin: 4px 12px;
    }
  }

  &Title {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }


  &Btn {
    position: absolute;
    z-index: 1;
    padding: 16px 8px;
    font-size: xxx-large;

    &Edit {
      top: 0;
      right: 0;
    }

    &Delete {
      left: 0;
      top: 0;
    }

    &Promote {
      right: 0;
      bottom: 0;
    }
  }

  &Image {
    position: relative;
    aspect-ratio: 1/1;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &Favourite {
    position: absolute;
    z-index: 5;
    top: 0px;
    right: 0px;
    cursor: pointer;
  }
}

