.dropdown {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 50vw;
  min-height: 100vh;
  background: white;
  border-radius: 0 0 4px 4px;
  padding: 40px 24px;
  font-size: 24px;
  ul {
    li {
      margin-bottom: 32px;
    }
  }
}