@import "variables";

.image {
  width: 150px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  aspect-ratio: 1/1;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

.imageMobile {
  position: relative;
  width: 48%;
  margin-bottom: 10px;
  aspect-ratio: 1/1;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}


.images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.imagesMobile {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
}

.center {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingImage {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $red;
  height: 100%;
  width: 100%;
  text-align: center;
  border: 1px solid $grey;
  border-radius: 4px;
}

.textArea {
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 16px;
}

.leftArrow {
  position: absolute;
  top: 40%;
  left: 0;
}

.rightArrow {
  position: absolute;
  top: 40%;
  right: 0;
}

.deleteIcon {
  position: absolute;
  top: 0;
  right: 0;
}