.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr
  }
}

.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background: #F9F8F9;
  border-radius: 16px;
}

.searchBlock {
  width: 100%;
  marginRight: 16;
}

.magicWrap {
  //height: 100vh;
  overflow-y: hidden;
}

.premium {
  position: relative;
}

.category {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  //width: 100px;
  margin: 0 8px 0 0;
  padding: 8px 5px 8px 5px;
  border-radius: 8px;
}

.img {
  padding: 12px;
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 1px 0px 0px rgb(0 0 0 / 25%);
  transition: transform .1s;
  &:hover {
    transition: transform .2s;
    transform: scale(1.05);
  }
}