.items {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr
  }
}

.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.delete {
  display: block;
}
