@import "variables";

.related {
  margin-top: 16px;
}

.item {
  margin: 0 auto;
  max-width: 400px;
}

.button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: fit-content;
  height: 48px;
  cursor: pointer;
  border-radius: 2px;
  background: $green;
  border: 1px solid $green;
  transition: all .3s;
  color: $white;
  padding: 0 16px;

  &:disabled {
    background: initial;
    border: initial;
    color: initial;
  }
}

.image {
  object-fit: cover;
}

.slider {
  height: 300px;
}

.category {
  font-size: 1em;
}

.price {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.carousel {
  position: relative;
}

.description {
  white-space: pre-wrap;
  overflow: hidden;
}

.mt40 {
  margin-top: 40px;
}