@import "variables";
.item {
  margin: 0 auto;
  max-width: 400px;
}

.button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: fit-content;
  height: 48px;
  cursor: pointer;
  border-radius: 2px;
  background: $green;
  border: 1px solid $green;
  transition: all .3s;
  color: $white;
  padding: 0 16px;

  &:disabled {
    background: initial;
    border: initial;
    color: initial;
  }
}

.image {
  object-fit: cover;
}

//.items {
//  display: grid;
//  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
//  grid-gap: 10px;
//}

.slider {
  height: 300px;
}