@import "variables";

.post {
  margin: 0 auto;
  max-width: 400px;
}

.carousel {
  position: relative;
}

.image {
  object-fit: cover;
}

.button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: fit-content;
  cursor: pointer;
  border-radius: 2px;
  background: $blue;
  border: none;
  transition: all .3s;
  color: $white;
  padding: 8px;
  font-size: 24px;

  &:disabled {
    background: initial;
    border: initial;
    color: initial;
  }

  &Left {
    left: 0;
  }

  &Right {
    right: 0;
  }
}

.price {
  display: block;
  font-size: 2em;
  font-weight: bold;
}