@import "variables";

.post {
  margin: 0 auto;
  max-width: 400px;
}

.carousel {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 300px;
}

.image {
  //object-fit: cover;
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: fit-content;
  cursor: pointer;
  border-radius: 2px;
  background: $blue;
  border: none;
  transition: all .3s;
  color: $white;
  padding: 8px;
  font-size: 24px;

  &:disabled {
    background: initial;
    border: initial;
    color: initial;
  }

  &Left {
    left: 0;
  }

  &Right {
    right: 0;
  }
}

.price {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.share {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;

  span {
    font-size: 36px;
    margin-left: 4px;
  }
}

.postBody {
  white-space: pre-wrap;
}