.description {
  display: flex;

  & > li {
    padding: 4px;

    & > button {
      display: inline-flex;
      padding: 4px 16px;
      max-width: 34px;
      justify-content: center;
      align-items: center;
    }
  }
}

.main {
  min-height: calc(100vh - 66px);
  text-align: center;
}

.exit {
  margin-top: inherit;
}

.add {
  &Block {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    max-width: 432px;
    gap: 16px;
  }
}
