.button {
    width: fit-content;
    height: 36px;
    width: 36px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 2px;
    background: #15b012;
    border: 1px solid #15b012;
    transition: all .3s;
    color: white;
    padding: 8px;
}
